
/* #shema-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 333px;
}
#shema {
    margin-right: auto;
    margin-left: auto;
    height: 144px;
}

.arrow {
    width: 46px;
    position: absolute;
    left: 174px;
}
#arrow1 {
    top: 25px;
}
#arrow2 {
    top: 100px;
}

.R_shema {
	position: absolute;
	left: 75px;
}

#R1_shema {
	top: 27px;
}
#R2_shema {
	top: 101px;
}

.r_shema {
	position: absolute;
	left: 232px;
}

#r1_shema {
	top: 37px;
}
#r2_shema {
	top: 111px;
}

.E_shema {
	position: absolute;
	left: 236px;
}
#E1_shema {
	top: 15px;
}
#E2_shema {
	top: 89px;
}
#work {
	max-width: 385px;
} */