#arrow3 {
    top: 170px;
}
#arrow4 {
    top: 240px;
}
#R3_shema {
	top: 145px;
}
#R4_shema {
	top: 215px;
}
#r3_shema {
	top: 181px;
}
#r4_shema {
	top: 251px;
}
#E3_shema {
	top: 157px;
}

#E4_shema {
	top: 227px;
}
#shema {
    height: 285px;
}


#work {
	max-width: 662px;
}